body {
  font-family: Arial;
  text-align: center;
}

#profile {
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 300px;
  margin: auto;
}
img {
  width: 100px;
  border-radius: 50%;
}
